##############################
#      OS / SYSTEM FILES     #
##############################

# macOS
.DS_Store


##############################
#        IDE SETTINGS        #
##############################

# IntelliJ IDEA
.idea/
*.iml
out/
!**/src/main/**/out/
!**/src/test/**/out/

# SmartTomcat plugin
.smarttomcat/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# VS Code
.vscode/

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/


##############################
#        JAVA BUILD          #
##############################

# Maven (if used)
target/

# Gradle (if used)
.gradle/
build/

# Logs
*.log


##############################
#     TEMP / GENERATED       #
##############################

# Temporary files
*.tmp
*.swp

# Backup files
*.bak
*.old

# Generated class files
*.class
